.container {
    text-align: center;
}

.gradient div {
    display: inline-block;
}

.linear-gradient {
    width: 600px;
    height: 300px;
    background: rgb(131, 58, 180);
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(124, 180, 93, 1) 0%, rgba(30, 253, 29, 1) 0%, rgba(252, 69, 189, 1) 100%, rgba(255, 255, 255, 1) 100%);
}

.radial-gradient {
    width: 600px;
    height: 300px;
    background-image: radial-gradient(circle, red, orange, yellow);
    margin-top: 10px;
}

.size {
    height: 400px;
}

.blur {
    filter: blur(10px);
}

.brightness {
    filter: brightness(0.5);
}

.contrast {
    filter: contrast(0.5);
}

.grayscale {
    filter: grayscale(1);
}

.huerotate {
    filter: hue-rotate(180deg);
}

.invert {
    filter: invert(0.7);
}

.opacity {
    filter: opacity(0.6);
}