.container {
    text-align: center;
}

.gradient div {
    display: inline-block;
}

.linear-gradient {
    width: 600px;
    height: 300px;
    background-image: linear-gradient( to top right, red, blue);
}

.radial-gradient {
    width: 600px;
    height: 300px;
    background-image: radial-gradient(circle, red, orange, yellow);
    margin-top: 10px;
}

.size {
    height: 400px;
}

.blur {
    filter: blur(10px);
}

.brightness {
    filter: brightness(0.5);
}

.contrast {
    filter: contrast(0.5);
}

.grayscale {
    filter: grayscale(1);
}

.huerotate {
    filter: hue-rotate(180deg);
}

.invert {
    filter: invert(0.7);
}

.opacity {
    filter: opacity(0.6);
}